@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Righteous&family=Russo+One&family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font: 400 1.4rem Montserrat, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to right, #000, #222, #000);
  color: #fff;
}

body {
  font-size: 1.6rem;
}

input,
textarea {
  font: 400 2.4rem Montserrat, sans-serif;
}

button {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  cursor: pointer;
}

h1 {
  font-family: "Audiowide", cursive;
  /* font-family: "Righteous", cursive; */
  /* font-family: "Russo One", sans-serif; */
  /* font-family: "Teko", sans-serif; */
}

a {
  text-decoration: none;
  color: #000;
}

.hide {
  display: none;
}
